@import url('../../../styles/global.css');

.QuestionForm {
  background-color: var(--color-grey);
  width: var(--card-width);
  position: relative;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.QuestionForm input {
  width: 80%;
  margin: 0 auto;
}

.answers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 350px;
}

.answers input {
  width: 300px;
  margin: 10px 0 0 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
