@import url('../../styles/global.css');

.generalButton {
  border: solid 1px;
  border-radius: 35px;
  padding: 0.4rem 0.8rem;
  margin: 5px;
  border: solid 1px;
  border-radius: 30px;
  padding: 0;
  min-width: 100px;
  background-color: var(--color-light-blue);
  min-height: 40px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonEmpty,
.buttonFill:hover {
  border-color: var(--color-primary);
  color: #F89828;
  background-color: #f1f7ff;
}

.buttonFill,
.buttonEmpty:hover {
  border-color: transparent;
  color: #fff;
  background-color:#00AACD;
}
