@import url('../../styles/global.css');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  direction: rtl;
}

.bar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: fixed;
  /* border-bottom: solid #8196a7 1px; */
  z-index: 30;
  padding-left: 10px;
}

/* button {
  background-color: transparent !important;
  border: 0.5px solid var(--color-primary) !important;
  color: white !important;
} */

.profilePicture {
  margin-right: 20px;
  width: 110px;
}

.burgerMenu {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  font-size: 50px;
  display: none;
}

.listOfLinks {
  display: flex;
  list-style: none;
}

.link {
  margin: 0 50px;
}

a {
  color: #1c64a0;
}

@media only screen and (max-width: 753px) {
  .link {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .burgerMenu {
    display: block;
  }

  .profilePicture {
    display: none;
  }

  .listOfLinks {
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: -120%;
    transition: 0.5s;
    background: transparent linear-gradient(93deg, #025fdb 0%, #025fdb 35%, #0b3668 100%) 0% 0% no-repeat;
    padding: 10px;
    width: 100%;
  }

  .showMenu {
    left: 0;
  }

  .link {
    text-align: center;
    margin: 30px 0;
  }
}