@import url('./styles/global.css');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap');

* {
  /* font-family: 'Assistant', sans-serif; */
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar{
  display: none;
}